<link rel="stylesheet" href="/css/sean-theme.css">
<script src="/css/highlight/highlight.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"> 
</script>
<script src="toggle.js"></script>

<script>hljs.highlightAll();</script>

<section>
<p>Initial Test!!</p>
<p>Here, I have inline code <code>for i in 1:10</code> and here is a code block:</p>
<pre><code class="stan">functions {
  array[N] y
} 
model {
  target += multi_student_t_cholesky_lpdf(a, b, L);
}</code></pre>
<p>Like the previous example, but can show and hide code.</p>
<a href="#" class="css-toggle">Show Code</a>
<pre><code class="stan">functions {
  array[N] }
}
</code></pre>
</section>

<section>
  <h1> 
    A Different Section with Math
</h1>
  <p>When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are:</p>
  <p>$$x = {-b \pm \sqrt{b^2-4ac} \over 2a} $$</p>
  <h2>Straight line equations</h2>
  <p>The equation for a straight line is usually written as \(y = mx + c\)</p>
</section>